.titleContainer{
    justify-content: space-between;
    width: 85%;
}
.categoriesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
}
.tableContainer{
    width: 85%;
}
.MuiTableCell-root span {
    justify-content: center;
  }